.episode-main-content {
  margin-top: 68px;
  overflow-x: hidden;
  padding: 0 24px;

  --space-below-player: 80;
  --space-above-player: 114;
  --content-min-width: 824;
  --content-max-width: 7680;
  --space-between-player-and-side-module: 24;
  --side-module-min-width: 320;
  --side-module-max-width: 360;
  --player-aspect-ratio: 1.77778;
  --player-min-width: calc(
    var(--content-min-width) - var(--side-module-min-width) -
      var(--space-between-player-and-side-module)
  );
  --player-max-width: calc(
    var(--content-max-width) - var(--side-module-max-width) -
      var(--space-between-player-and-side-module)
  );

  --space-vertical: calc(var(--space-above-player) + var(--space-below-player));
  --viewport-min-height: calc(
    var(--player-min-width) / var(--player-aspect-ratio) + var(--space-vertical)
  );
  --viewport-max-height: calc(
    var(--player-max-width) / var(--player-aspect-ratio) + var(--space-vertical)
  );
  --content-width-range: calc(
    var(--content-max-width) - var(--content-min-width)
  );
  --viewport-height-range: calc(
    var(--viewport-max-height) - var(--viewport-min-height)
  );
}

.episode-main-container {
  margin: 0 auto;
  max-width: calc(var(--content-max-width) * 1px);
  overflow-x: visible;
}

.episode-main-inner {
  --inner-max-width: calc(
    (100vh - var(--viewport-min-height) * 1px) / var(--viewport-height-range) *
      var(--content-width-range) + var(--content-min-width) * 1px
  );
  margin: 0 auto;
  max-width: var(--inner-max-width);
  min-width: calc(var(--content-min-width) * 1px);
  overflow-x: visible;
}

.episode-main-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.episode-main-title .season-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.episode-main-title .episode-title {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
}

.episode-supplement {
  display: flex;
  gap: 8px;
  color: var(--sc-color);
  margin: 8px 0;
}

.episode-action {
  position: relative;
}

.episode-desc-wrapper .detail-description {
  position: relative;
  font-size: 14px;
  margin-bottom: 16px;
  max-height: 80px;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.episode-desc-wrapper .detail-description::before {
  background: linear-gradient(180deg, transparent, var(--bg-color));
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  max-height: 80px;
  position: absolute;
  transition: opacity 0.25s cubic-bezier(0.33, 1, 0.68, 1), visibility 0.25s;
  width: 100%;
}

.episode-desc-wrapper .detail-description.expanded:before {
  opacity: 0;
  visibility: hidden;
}

.detail-toggle {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: none;
  padding: 4px 4px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.detail-toggle .detail-toggle-icon {
  width: 24px;
  height: 24px;
}

.episode-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  gap: 24px;
}

.episode-inner {
  flex-shrink: 0;
}

.episode-sidebar {
  min-width: 0;
  max-width: 350px;
}

.episode-sidebar-inner .episode-sidebar-title {
  font-size: 20px;
  color: var(--text-color);
}

.episode-sidebar-ep-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.episode-sidebar-ep-list .episode-list-item-thumbnail {
  width: 160px;
  height: 90px;
}

.episode-sidebar-ep-list .episode-list-item-details .episode-list-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  max-height: 3.9em;
}

.episode-sidebar-ep-list .episode-list-item-details .episode-list-item-info {
  display: none;
}

.episode-sidebar-ep-list .episode-list-item-tag {
  display: none;
}

.episode-sidebar-ep-list .episode-list-item-desc {
  display: none;
}

.episode-sidebar-ep-list .episode-list-item {
  padding: 0;
}

.episode-sidebar-ep-list .episode-list-item::after {
  border: none;
}

.episode-tag {
  margin: 8px 0;
}

@media (max-width: 991px) {
  .episode-wrapper {
    grid-template-columns: 1fr;
  }
  .episode-sidebar {
    display: none;
  }

  .episode-main-inner {
    margin: 0 auto;
    max-width: 640px;
    min-width: 0;
  }
}

@media (max-width: 767px) {
  .episode-wrapper {
    grid-template-columns: 100%;
  }
}

.yurei-premium-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--black-50);
}

.yurei-premium-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.yurei-premium-content .yurei-premium-text {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.yurei-premium-content button {
  display: block;
  width: auto !important;
}

@media (max-width: 991px) {
  .episode-main-content {
    margin-top: 0;
    padding: 0;
  }

  .yurei-premium-content .yurei-premium-text {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .yurei-premium-content .yurei-premium-text {
    font-size: 18px;
  }
}
