.main-tooltip {
  /* bottom: 46px;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  right: 22px;
  text-align: center;
  transform: translateX(50%);
  transition: none;
  visibility: hidden;
  transition: 300ms; */
  bottom: calc(100% + 7px);
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.main-tooltip:hover {
  opacity: 1;
  visibility: visible;
}

.main-tooltip .tooltip-text {
  background-color: var(--secondary-color-2);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  padding: 4px 8px;
  position: relative;
  white-space: nowrap;
}

.main-tooltip .tooltip-text::before,
.main-tooltip .tooltip-text::after {
  border: 7px solid transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  transform: translateY(100%);
  width: 0;
}

.main-tooltip .tooltip-text::before {
  border-top-color: var(--secondary-color-2);
}

.main-tooltip .tooltip-text::after {
  bottom: 2px;
}

.main-tooltip.tooltip-left {
  left: 0;
  margin: 0;
  right: auto;
  transform: none;
}

.main-tooltip.tooltip-right {
  right: calc(50% - 22px);
}

.main-tooltip.tooltip-left .tooltip-text::before,
.main-tooltip.tooltip-left .tooltip-text::after {
  left: 14px;
}

.main-tooltip.tooltip-right .tooltip-text::before,
.main-tooltip.tooltip-right .tooltip-text::after {
  right: 14px;
}

.main-tooltip.tooltip-center {
  left: 50%;
  transform: translateX(-50%);
}

.main-tooltip.tooltip-center .tooltip-text::before,
.main-tooltip.tooltip-center .tooltip-text::after {
  left: 0;
  margin: 0 auto;
  right: 0;
}

button.btn-tooltip {
  position: relative;
  z-index: 2;
}

button.btn-tooltip:hover .main-tooltip {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s linear 0.3s;
}
