.manager-input-item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.manager-input-item input {
  max-width: 350px;
}

@media (max-width: 576px) {
  .input-flex-with-button input {
    max-width: auto !important;
  }
}
