.mobile-header {
  background-color: var(--bg-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 25;
}

.mobile-header-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-header-outer {
  position: relative;
  margin: 0 12px;
  height: 100%;
}

.mobile-header-outer .mobile-header-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: -1;
}

.mobile-header-form .mobile-header-input {
  width: 90%;
  display: flex;
  position: relative;
  align-items: center;
  opacity: 0;
  transition: 500ms;
}

.mobile-header-form.active {
  z-index: 1;
}

.mobile-header-form.active .mobile-header-input {
  opacity: 1;
  width: 100%;
}

.mobile-header-input input {
  margin: 0 8px;
  height: 36px;
  width: 100%;
  display: inline-block;
  border-radius: 8px;
  padding: 0 12px;
  outline: none;
  caret-color: var(--link-active);
  border: none;
  /* flex-grow: 1; */
}

.mobile-header-input input:focus {
  box-shadow: inset 0 0 0 2px #f77f00;
}

.mobile-header-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: 500ms;
}

.mobile-header-display.hidden {
  opacity: 0;
}

.mobile-header-display .mobile-bars {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mobile-header-display .mobile-icon {
  fill: currentColor;
}

/* Navbar */

.mobile-navbar {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
}

.mobile-navbar-wrapper {
  padding: 0 8px;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: height 0.2s ease;
}

ul.mobile-nav-bar {
  display: flex;
  flex-wrap: nowrap;
  height: 44px;
}

ul.mobile-nav-bar li {
  position: relative;
  text-align: center;
}

ul.mobile-nav-bar li .mobile-nav-item-link {
  color: #999;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  line-height: 44px;
  padding: 0 8px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.1s ease-out;
  white-space: nowrap;
  width: 100%;
}

ul.mobile-nav-bar li .mobile-nav-item-link::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  bottom: 0;
  position: absolute;
  left: 0;
  opacity: 0;
}

ul.mobile-nav-bar li .mobile-nav-item-link.active::after {
  opacity: 1;
}

/* Navbar Float */
.mobile-navbar-float {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: -70%;
  width: 70%;
  background-color: var(--primary-color);
  height: 100vh;
  transition: 300ms;
  z-index: 19;
}

.mobile-navbar-float.active {
  left: 0;
}

.mobile-navbar-float .mobile-nav-bar-float {
  padding: 8px;
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.mobile-navbar-float .mobile-nav-float-top {
  display: flex;
  gap: 8px;
  padding: 4px;
  align-items: center;
  justify-content: center;
}

.mobile-navbar-float .mobile-nav-float-top li {
  width: calc(50% - 8px);
}

.mobile-navbar-float
  .mobile-nav-float-top
  li
  a:not(.mobile-nav-float-item-link) {
  display: block;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 16px 8px;
}

.mobile-navbar-float .mobile-nav-float-top li:first-child a {
  background-color: #f77f00;
}

.mobile-navbar-float .mobile-nav-float-top li:nth-child(2) a {
  background-color: #386641;
}

.mobile-nav-bar-float li {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 16px 8px;
}

.mobile-account-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.nav-item-grid {
  display: grid;
  grid-template-areas:
    "item1 item2"
    "item1 item3"
    "item1 item4";
  grid-template-columns: 48px 1fr;
  gap: 8px;
  grid-template-rows: repeat(3, auto);
  overflow: hidden;
}

.mobile-item-account-icon {
  grid-area: item1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-account-wrapper .mobile-item-title {
  grid-area: item2;
  display: flex;
  font-weight: 700;
  gap: 8px;
}

.mobile-item-wrapper.account-title {
  grid-area: item2;
}

.mobile-item-wrapper.user-id {
  grid-area: item3;
}

.mobile-item-wrapper.user-email {
  grid-area: item4;
}

.mobile-item-wrapper.user-plan {
  border-top: 1px solid var(--sc-color);
  padding-top: 12px;
}

.mobile-item-wrapper.user-plan .mobile-item {
  justify-content: space-between;
  align-items: center;
  min-width: 44px;
}

.mobile-item-wrapper .mobile-item {
  display: flex;
  gap: 8px;
  flex: 1 1 100%;
}

.mobile-item-wrapper .mobile-item .label {
  min-width: 44px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 16px;
  color: #999;
  background-color: var(--white-12);
  width: fit-content;
}

.mobile-item-wrapper .mobile-item .label-text {
  width: 100%;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  flex-shrink: 0;
}

.mobile-nav-bar-float li:hover {
  background-color: var(--sc-color);
}

.mobile-nav-float-item-link {
  display: flex;
  gap: 12px;
}

.mobile-nav-float-item-link .item-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .mobile-navbar-float {
    width: 100%;
    left: -100%;
  }
}
