.main-recommend-wrapper {
  position: relative;
}

.main-recommend-wrapper .recommend-inner {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.recommend-item {
  width: calc(100% / 4 - 12px);
}

.main-recommend-wrapper h3 {
  margin: 12px 0;
}

@media (max-width: 767px) {
  .recommend-item {
    width: calc(100% / 3 - 12px);
  }
}

@media (max-width: 578px) {
  .recommend-item {
    width: calc(100% / 2 - 12px);
  }
}

@media (max-width: 340px) {
  .recommend-item {
    width: calc(100%);
  }
}
