.account-page-wrapper {
  position: relative;
}

.manager-title {
  margin: 4px 0 16px 0;
}

.account-page-inner {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.account-page-inner .account-page-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 240px;
}

.account-page-nav li a {
  display: block;
  padding: 16px 12px;
  border-radius: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-page-nav li a.active {
  background-color: var(--secondary-color-2);
  color: var(--link-active);
}

.account-page-nav-icon {
  display: block;
  width: 24px;
  height: 24px;
}
