@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: scrollbar;
}

* {
  --sc-color: #767676;
  --primary-color: #171717;
  --secondary-color: #373737;
  --secondary-color-2: #212121;
  --link-active: #da0;
  --link-active-hover: #e7be35;
  --text-color: #e6e6e6;
  --btn-hover-color: hsla(0, 0%, 100%, 0.08);
  --white-8: hsla(0, 0%, 100%, 0.08);
  --white-12: hsla(0, 0%, 100%, 0.12);
  --white-24: hsla(0, 0%, 100%, 0.24);
  --black-8: rgba(0, 0, 0, 0.08);
  --black-12: rgba(0, 0, 0, 0.12);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-24: rgba(0, 0, 0, 0.24);
  --black-50: rgba(0, 0, 0, 0.7);
  --radius: 6px;
  --radius-2: 8px;
  --radius-3: 12px;
  --color-danger: #f0163a;
  --color-sub-danger: #f34461;
  --sub-title-color: #999;
  --border-color: #333;
  --bg-color: #000;
  --h5: 16px;
  --h6: 13px;
}

* {
  scrollbar-color: var(--sub-title-color) transparent;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--sub-title-color);
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 16px;
}

::-webkit-scrollbar:horizontal {
  background-color: transparent;
  height: 14px;
}

.body--prevent-scroll {
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.__text-active {
  color: var(--link-active);
}

.__text-center {
  text-align: center;
}

.__link-active {
  color: var(--link-active);
  text-decoration: underline;
}

.__bg-active {
  background-color: var(--link-active);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

video {
  display: block;
  height: 100%;
  pointer-events: none;
  width: 100%;
}

input::placeholder {
  color: var(--sub-title-color);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

h1.headline-titile {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* .svg-icon {
  width: 100%;
  height: 100%;
} */

svg:not(:root) {
  overflow: hidden;
}

.main-container {
  display: flex;
}

.main-container.__mobile {
  display: block;
}

.main-container.__mobile .page-container {
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 100vh;
  min-width: 772px;
}

.__half-container {
  margin-right: auto;
  max-width: 640px;
  padding: 0 8px;
  width: 100%;
}

.sub-title {
  font-size: 20px;
  font-weight: 600;
}

/* custom slide */

.slick-list {
  max-width: 100%;
  overflow: hidden; /* Ẩn phần thừa nếu có */
}

.slick-slide {
  /* Tránh bị phóng to theo chiều cao */
  display: inline-block; /* Giữ các slide không bị giãn */
  box-sizing: border-box;
  padding-right: 24px;
}

/* the parent */
.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  color: white;
  background-color: var(--white-12);
  transition: background-color 0.3s cubic-bezier(0.33, 1, 0.68, 1),
    color 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--white-24);
}

.btn-special:hover {
  background-color: var(--text-color);
  color: var(--secondary-color-2);
}

.btn-green {
  background-color: var(--link-active) !important;
}

.btn-white {
  background-color: #fff;
  color: var(--primary-color);
}

.btn-white:hover {
  background-color: var(--text-color);
}

.btn-active {
  background-color: var(--link-active) !important;
  color: var(--secondary-color-2) !important;
}

.btn-danger {
  background-color: var(--color-danger);
  color: var(--text-color);
}

.btn-danger:hover:disabled {
  background-color: var(--color-danger);
  color: var(--text-color);
}

.btn-danger:hover:not(:disabled) {
  background-color: var(--color-sub-danger);
}

.btn-active:hover {
  background-color: var(--link-active-hover) !important;
  color: var(--secondary-color-2) !important;
}

.btn .btn-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.__rarius-1 {
  border-radius: var(--radius) !important;
}

.__rarius-2 {
  border-radius: var(--radius-2) !important;
}

.__rarius-3 {
  border-radius: var(--radius-3) !important;
}

.mt {
  margin-top: 64px;
}

.mt-2 {
  margin-top: 32px;
}

.mb-md {
  margin-bottom: 32px;
}

.mb-2 {
  margin-bottom: 16px;
}

.my-auto {
  margin: 12px 0;
}

a.link-block {
  position: relative;
}

a.link-block::after {
  background-color: var(--white-12);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.1s linear;
}

a.link-block:hover::after {
  opacity: 1;
}

button,
fieldset {
  border: 0;
  padding: 0;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

button:disabled:hover {
  opacity: 0.7;
}

.btn-black {
  background-color: var(--secondary-color-2);
}

.btn-black:hover {
  background-color: var(--secondary-color);
}

button.btn-default {
  position: relative;
}

button.btn-default::after {
  background-color: var(--white-12);
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.1s linear;
}

button.btn-default:hover::after {
  opacity: 1;
}

@supports (-webkit-line-clamp: 2) {
  .clamp-text {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.slick-slider .arrow-icon {
  width: 54px;
  height: 54px;
  fill: currentColor;
  opacity: 0.5;
  transition: opacity 0.2s linear;
  filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.8));
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-slider .gradient-right {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.8) 54px,
    #000 108px,
    #000 250px
  );
  margin-right: -95vw;
  right: 0;
}

.slick-slider .gradient-left {
  background-image: linear-gradient(
    270deg,
    transparent,
    rgba(0, 0, 0, 0.8) 54px,
    #000 108px,
    #000 250px
  );
  left: 0;
  margin-left: -100vw;
  transform: translateX(54px);
  transition: transform 0.2s linear;
}

.slick-slider .gradient-left.hidden {
  transform: translateX(0);
}

.slick-slider .gradient {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.slick-slider .arrow-icon.right {
  right: 8px;
}

.page-container-fluid .slick-slider .arrow-icon.right {
  right: 24px;
}

.slick-slider .arrow-icon.left {
  left: 8px;
}

.slick-slider .arrow-icon:hover {
  opacity: 1;
}

.slick-slide {
  display: inline-block; /* Tránh gây lỗi bố cục */
  vertical-align: top; /* Đảm bảo các item nằm cùng dòng */
  box-sizing: border-box;
}

.slick-list {
  overflow: visible;
}

/* .slick-slider {
  margin: 0 24px;
} */

.page-container-fluid .slick-slider {
  margin: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  /* padding: 0 24px; */
}

main.page-main {
  flex-grow: 1;
}

.page-container {
  margin: 68px auto 0;
  position: relative;
  overflow: hidden;
  padding: 0 24px;
  max-width: 1024px;
}

.page-container-fluid {
  margin-top: 68px;
  overflow: hidden;
  padding: 0 24px;
}

.main-content-wrapper {
  margin: 0 auto;
  /* max-width: 1024px; */
  min-width: 724px;
  overflow-x: visible;
}

.feature-section + .feature-section {
  margin-top: 24px;
}

/* Mobile side */

.mobile-button {
  width: 44px;
  height: 44px;
  position: relative;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #000;
  transition: 500ms;
}

.mobile-btn {
  border: none;
  color: white;
}

.btn-icon-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 767px) {
  .channel-list-outer .mobile-row .mobile-col {
    width: calc(100% / 4 - 8px);
  }
}

@media (max-width: 568px) {
  .channel-list-outer .mobile-row .mobile-col {
    width: calc(100% / 3 - 8px);
  }
}

@media (max-width: 466px) {
  .channel-list-outer .mobile-row .mobile-col {
    width: calc(100% / 2 - 8px);
  }
}

.video-label .label-text {
  color: #fff;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  padding: 3px 4px;
}

.video-label .label-text.free {
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.4),
    hsla(0, 0%, 100%, 0.12)
  );
}

.video-label .label-text.premium {
  background: linear-gradient(
    135deg,
    var(--link-active),
    hsla(30, 100%, 50%, 0.4)
  );
}

.player-icon-circle {
  animation: player-circle 1.5s ease-in-out infinite;
  stroke: #fff;
  stroke-dasharray: 89, 200;
  stroke-dashoffset: -35px;
  stroke-linecap: round;
}

.player-icon-loading {
  animation: player-ratate 2s linear infinite;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center center;
  width: 100%;
}

@keyframes player-ratate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes player-circle {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.__icon-default {
  width: 24px;
  height: 24px;
}

input.dark-theme {
  background-color: #212121;
  border: 1px solid !important;
  border-color: hsla(0, 0%, 100%, 0.12) !important;
}

input.dark-theme::placeholder {
  color: var(--sc-color);
}

input.dark-theme:focus {
  background-color: white;
  border: 1px solid #fafafa;
}

#check-group {
  animation: 0.32s ease-in-out 0.63s check-group;
  transform-origin: center;
}

#check-group #check {
  animation: 0.34s cubic-bezier(0.65, 0, 1, 1) forwards check-icon;
  stroke-dasharray: 0, 75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes check-icon {
  from {
    stroke-dasharray: 0, 75px;
  }
  to {
    stroke-dasharray: 75px, 75px;
  }
}
@keyframes check-group {
  from {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1.4);
  }
}

.slash {
  margin: 0 12px;
}

.slash::before {
  content: "/";
}

.form-actions {
  margin-top: 12px;
}

.card-flex-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card-flex-item {
  width: calc(100% / 4 - 16px);
}

@media (max-width: 991px) {
  .page-container {
    padding: 0 0;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100vh;
    min-width: auto;
  }
  .card-flex-item {
    width: calc(100% / 3 - 16px);
  }

  .main-content-wrapper {
    min-width: auto;
  }

  .page-container-fluid {
    margin-top: 0;
  }

  .slick-slide > div > div {
    height: auto !important; /* Ghi đè height */
  }

  .slick-slider .arrow-icon {
    display: none;
    visibility: hidden;
  }
}

.main-container.__mobile .container__mobile {
  padding: 0 12px !important;
}

@media (max-width: 767px) {
  .card-flex-item {
    width: calc(100% / 2 - 16px);
  }
}

@media (max-width: 576px) {
  .card-flex-item {
    width: 100%;
  }
}
