.mobile-button {
  width: 44px;
  height: 44px;
  position: relative;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #000;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-btn {
  border: none;
  color: white;
}

@media (max-width: 767px) {
  .channel-list-outer .mobile-row .mobile-col {
    width: calc(100% / 4 - 8px);
  }
}

@media (max-width: 568px) {
  .channel-list-outer .mobile-row .mobile-col {
    width: calc(100% / 3 - 8px);
  }
}

@media (max-width: 466px) {
  .channel-list-outer .mobile-row .mobile-col {
    width: calc(100% / 2 - 8px);
  }
}
