.video-list-wrapper {
  position: relative;
}

.video-list-wrapper .video-list-category-title h2 {
  font-size: 24px;
  padding: 16px 0;
  font-weight: 500;
}

.flex-wrapper {
  position: relative;
}

.flex-container {
  max-width: 100vw;
  margin-right: -188px;
  width: 100%;
  overflow: hidden;
}

.flex-container-less-wrapper {
  margin: 0 24px;
  display: flex;
  gap: 16px;
  align-items: stretch;
}

/* .flex-container-less-item:first-child {
  margin-left: 16px;
} */

.flex-container-less-item {
  width: calc(100% / 4 - 12px);
}

@media (max-width: 767px) {
  .flex-container-less-item {
    width: calc(100% / 3 - 12px);
  }
}

@media (max-width: 576px) {
  .flex-container-less-item {
    width: calc(100% / 2 - 12px);
  }
}
