.video-list-wrapper {
  position: relative;
}

.video-list-wrapper .video-list-category-title h2 {
  font-size: 24px;
  padding: 16px 0;
  font-weight: 500;
}

.flex-wrapper {
  position: relative;
}

.flex-container {
  max-width: 100vw;
  margin-right: -188px;
  width: 100%;
  overflow: hidden;
}

.flex-container-less-wrapper {
  display: flex;
  gap: 16px;
  align-items: stretch;
}

.flex-container-less-item {
  width: calc(100% / 4 - 12px);
}

.flex-container-less-item.vertical {
  width: calc(100% / 7 - 12px);
}

@media (max-width: 767px) {
  .flex-container-less-item {
    width: calc(100% / 3 - 12px);
  }
  .flex-container-less-item.vertical {
    width: calc(100% / 5 - 12px);
  }
  .flex-container-less-item:nth-child(6) {
    display: none;
  }
  .flex-container-less-item:last-child {
    display: none;
  }
}

@media (max-width: 576px) {
  .flex-container-less-item {
    width: calc(100% / 2 - 12px);
  }
  .flex-container-less-item.vertical {
    width: calc(100% / 4 - 12px);
  }
  .flex-container-less-item:nth-child(5) {
    display: none;
  }
  .flex-container-less-item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 420px) {
  .flex-container-less-item {
    width: calc(100%);
  }
  .flex-container-less-item.vertical {
    width: calc(100% / 3 - 12px);
  }
  .flex-container-less-item:nth-child(4) {
    display: none;
  }
  .flex-container-less-item:nth-child(2) {
    display: none;
  }
}
